<div class="menuBar">
	<div class="leftNew">
	 		<a href="#/newmeal" ng-click="newButtonClicked = !newButtonClicked">	
	 			<h1>
				<span  class="fa-stack fa-lg">
					<span class="fa fa-cutlery fa-stack-2x"></span>
					<span class="fa fa-plus-square fa-stack-1x text-danger"></span>
				</span>
				</h1>
			</a>
	
	</div>
	
	<div class="centerMenuBar">
   		<h1><dropdown placeholder="All" list="gm" selected="vm.currSel" property="nickName"></dropdown></h1>
	</div>
	
	<div class="rightNav">
		&nbsp;
	</div>
	
</div>

	    	   
	<tt-error-messages></tt-error-messages>
    
    <div class="info-messages" ng-style="{'opacity': vm.infoMessages.length > 0 ? 1 : 0, 'z-index': vm.infoMessages.length > 0 ? 10 : -10,
	 	display: vm.infoMessages.length>0 ? 'block' : 'none'}">
    	<img class="info-icon" src="img/info-icon.png">
      	<div class="messages-group">
			<div ng-repeat="info in vm.infoMessages">{{info.description}}</div>
      	</div>
    </div>

  	
  	<div class=listScroller>
  		<div ng-show="newButtonClicked" class="RList progress">Creating new meal...</div>
  		<div ng-show="detailButtonClicked" class="RList progress">Opening meal details...</div>
   		<div  class="rListMiddleSpOuter" ng-repeat="meal in filtered = (vm.meals | excludeDeleted | ranked:vm.currSel | user:vm.currSel.nickName | limitTo : showNumOfItems)"  >
            
			<div   class="rList middle spc">
	        	<a  class="link-spanner" href="#/meal/{{::meal.id}}">

				<div class="pure-g">
					<div   class="pure-u-10-24">
		      			<div  class="smallImage">		      	
		      				<div ng-switch on="meal.imageName">
	   							<div ng-switch-when="noimage">
	   								<ng-include src="'showSpinner'"> </ng-include>
    							</div>
			    				<div ng-switch-default>
		   							<ng-include src="'showImage'"> </ng-include>
    							</div>
							</div>
						</div>	  		
		  			
					</div>
					<div class="pure-u-14-24">
						<p class="p0 big"><span style="text-align:right;float:right;">{{::meal.time}}</span></p>
						<p class="p0 big">{{::meal.categoryName}}</p> 
						<p class="p0 big"><span style="text-align:right;float:right;">{{::showDate(meal.date)}}	</span></p>
						<p class="p0 big">{{::meal.nickName}}</p>	

						<p class="p1 big"><span style="text-align:right;float:right;">{{::meal.voteCount}}	</span></p>
						<p class="p0 big">Votes:</p>							
						
					</div>
				</div>		
				</a>
	
	 		</div>

		</div>
		<div class="mySpace">&nbsp;</div>
		<div class="button-primary pure-button pure-input-1" ng-click="moreItems()" ng-show="showNumOfPages<vm.totalPages" >MORE... ({{showNumOfPages}}/{{vm.totalPages}})</div>
		<div ng-show="showNumOfPages==vm.totalPages" >END OF LIST ({{showNumOfPages}}/{{vm.totalPages}})</div>

		<div class="mySpace">&nbsp;</div>

	</div>
	
	
	
	<script type="text/ng-template" id="showImage">
				  		<img class="xsImg" ng-src="mealimages/xs/{{meal.imageName}}" ng-model="meal.imageName"></img>
					  	<div ng-show="meal.hasVoted" class="hoverVoteXs">
		      				<div class="listGrade">{{meal.averageRankDisplayed}}</div>
						</div>
	</script>

	<script type="text/ng-template" id="showSpinner">
				      	<div style="margin:1em auto;text-align:center;"><span class="fa fa-refresh fa-spin fa-3x"></span></div>

	</script>
	
